# folders
/javaweb-01-maven/target/
/javaweb-02-servlet/servlet-01/target/
/javaweb-02-servlet/servlet-02/target/
/javaweb-02-servlet/response/target/
/javaweb-02-servlet/request-01/target/
/out/
/smbms/
/javaweb-03-cookie-session/target/
/javaweb-04-jsp/target/
/javaweb-05-filter/target/
/javaweb-06-listener/target/
/javaweb-07-smbms/target/

# files

